*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: oldlace;
    height: 600px;
    width: 600px;
    margin-top: 25px;
    box-shadow:  10px 10px 5px #aaaaaa;
}
.header{
    background-color: black;
    position: sticky;
    width: 100%;
    height: 70px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.header h1{
    line-height: 70px;
    color: white;
    
}
.main{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(./images/bus1.jfif);
    padding: 8px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    margin: 0;
   
}
